/*
    Custom styles
*/

body {
    background: #f3f3f3;
}

p {
    margin-bottom: 0.3rem;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #777777;
}

.navbar-nav .active a {
    color: #ffffff;
}

.btn-scrape {
    margin: 0 10px 10px;
}
