/*
    Custom styles
*/

body {
    background: #f3f3f3;
}

p {
    margin-bottom: 0.3rem;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #777777;
}

.navbar-nav .active a {
    color: #ffffff;
}

.btn-black {
    background: #333333;
    color: #ffffff;
    padding: 0.375rem 1.5rem;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active {
    background: #dddddd;
    color: #333333;
}